@import "variable";

.breadcrumb {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  overflow-x: auto;
  white-space: nowrap;
  background-color: transparent;
  padding: 0;
  letter-spacing: 1px;
  font-weight: 300;

  @include breakpoint(1024) {
    font-size: 120%;
  }

  li {
    display: inline;

    a {
      display: inline;
    }
  }
}