@import "variable";

.callback-modal-dialog {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;

  h3 {
    font-family: "Playfair Display", serif;
    font-style: italic;
    margin-top: 0;
    margin-bottom: 1.5em;
    color: #808080;

    &:after {
      display: block;
      width: 40px;
      height: 2px;
      background-color: #edc3c3;
      margin-left: auto;
      margin-right: auto;
      margin-top: 5px;
      content: '';
    }
  }

  p {
    font-weight: 300;
  }

  form {
    margin-top: 1.5em;

    .btn {
      margin-top: 1.5em;
    }
  }
}