
.product__slider {
  h2 {
    text-align: center;
    font-family: "Playfair Display", serif;
    font-size: 3em;

    &:after {
      display: block;
      width: 80px;
      height: 5px;
      background-color: #edc3c3;
      margin-left: auto;
      margin-right: auto;
      margin-top: 10px;
      content: '';
    }
  }

  .swiper-container {
    padding-bottom: 100px;

    .swiper-wrapper {
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-items: stretch;
      padding-top: 30px;

      .swiper-slide {
        width: auto;
        height: auto;
      }
    }
  }
}