
%PlayfairBold {
  font-family: 'Playfair Display';
  font-weight: bold;
}

%PlayfairItalic {
  font-family: 'Playfair Display';
  font-style: italic;
}

%CocoGothic {
  font-family: 'Coco Gothic Alternate';
}

$white: rgb(255, 255, 255);
$black: rgb(45, 45, 45);
$rich-black: rgb(0, 0, 0);
$red: rgb(246, 92, 92);